<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <nav>
        <p class="logo">eComm</p>
        <form>
            <input class="search-bar" type="text" name="searchBar" id="searchBar" placeholder="Search Product">
        </form>

        <div class="register">
            <a href="/seller-register">Seller Register</a>
            <a href="/register">User Register</a>
        </div>
    </nav>
    <hr>

</body>

</html>