<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/sellerRegister.css">
</head>

<body>
    - Seller Register -

   <form id="sellerRegisterForm">
    <label for="companyName">Company Name</label>
    <input type="text" name="companyName" id="companyName" value="Example Company">

    <label for="eMail">E-Mail</label>
    <input type="text" name="eMail" id="eMail" value="example@mail.com">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="examplePassword">

    <label for="passwordAgain">Password (Again)</label>
    <input type="password" name="passwordAgain" id="passwordAgain" value="examplePassword">

    <label for="address">Address</label>
    <input type="text" name="address" id="address" value="Example Street, Example House">

    <label for="phoneNumber">Phone Number</label>
    <input type="text" name="phoneNumber" id="phoneNumber" value="5441234567">

    <br>
    <button type="submit">Register!</button>
    </form>

    <p id="info"></p>

    <script src="/scripts/sellerRegister.js"></script>
</body>

</html>