<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>

    <link rel="stylesheet" href="/styles/userLogin.css">
    <link rel="stylesheet" href="/styles/common.css">

</head>

<body>
    <nav id="navBar"></nav>

    <form id="userLogin">
        <label for="email">E-Mail</label>
        <input type="text" name="email" id="email" value="example@mail.com">

        <label for="password">Password</label>
        <input type="text" name="password" id="password" value="examplePassword">

        <br>
        <button type="submit">Login</button>
    </form>

    <script src="/scripts/common.js"></script>
    <script src="/scripts/userLogin.js"></script>
</body>

</html>