<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>

    <link rel="stylesheet" href="/styles/userStyles/success.css">
    <link rel="stylesheet" href="/styles/common.css">

</head>
<body>
    <nav id="navBar"></nav>

    <span>Your Payment Has Been Successfully Received</span>

    <script src="/scripts/common.js"></script>
    <script src="/scripts/userScripts/paymentSuccess.js"></script>
</body>
</html>