<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Addresses</title>

    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/userStyles/userAddresses.css">

</head>

<body>
    <nav id="navBar"></nav>
    <br>
    <div class="wrapper">
        <div class="header flex-row spc-btwn align-center">
            <h3>My Addresses</h3>
            <a href="/profile/add-new-address">+ Add New Address</a>
        </div>
        <hr>

        <div id="addresses" class="flex-row"></div>
    </div>
    <script src="/scripts/common.js"></script>
    <script src="/scripts/userScripts/userAddresses.js"></script>

</body>

</html>