#product {
    border: 1px solid black;
    margin-top: 1%;
}

#product img {
    border: 1px solid black;

    width: 500px;
    height: 500px;
}

#product .product-Info {
    margin-left: 3%;
}

#product .priceWrapper {
    width: 200px;
}

.addCartBtn {
    padding: 5px;
    background-color: rgb(70, 204, 70);
    cursor: pointer;
}

.qty {
    width: 40px;
}